/* empezamos con el body */
body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
}

/* elementos del header */
header {
  width: 1280px;
  height: 73px;
  text-align: center;
}

h1 {
  font-size: 50px;
  font-weight: 500;
  margin-top: 7px;
  margin-bottom: 7px;
}

/* hero-section*/

.iguana {
  background-image: url('../img/bg-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 1280px;
  height: 727px;
}

/*descripcion iguana*/

<<<<<<< HEAD
.desc-section {
=======
.descripcion_iguana {
>>>>>>> master
  width: 1280px;
  height: 348px;

}

.descripcion {
  width: 475px;
  height: 197px;
  margin-left: 150px;
  margin-top: 76px;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  text-align: left;
  padding-bottom: 75px;
}

.fotoiguana {
  width: 399px;
  height: 237px;
  background-image: url('../img/iguana-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 45px;
  margin-left: 106px;
}

/*caracteristicas*/
<<<<<<< HEAD
.icons-section {
=======
.caracteristicas {
>>>>>>> master
  background-color: #1e1a13;
  width: 1280px;
  height: 348px;
}

h2 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  padding-top: 75px;
  padding-left: 463.5px;
  padding-right: 460.5px;
}

.icono {
  display: inline-block;
  font-weight: 300;
  text-align: center;
  padding-top: 39.17px;
}

.ojo {
  padding-left: 301px;
}

.mano {
  padding-left: 182px;
}

.pincel {
  padding-left: 145.88px;
}



/*fotos de iguana*/
.fotos {
  width: 1280px;
  height: 348px;
  background-color: #000000;
  padding-left: 150px;
  padding-top: 73px;
  padding-right: 150px;
}

.fotos div {
  width: 316px;
  height: 202px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: 73px;
  margin-left: 16px;
}

.iguana-left {
  background-image: url('../img/iguana-2.jpg');
}

.iguana-center {
  background-image: url('../img/iguana-3.jpg');
}

.iguana-right {
  background-image: url('../img/iguana-4.jpg');
}

/* footer */
footer {
  width: 1280px;
  background-color: #1e1a13;
  height: 102px;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 39px;
  font-size: 20px;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #ffffff;
}
